body {
    font-family: "Poppins", "sans-serif";
    color: white;
    text-align: center;
    margin: 0;
    background: #121212;
  }
  
  .container {
    max-width: 90%; /* Increase the max-width for better responsiveness */
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: white;

    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* background: #333; */
  }

  h1,p{
    color: white;

  }
  
  .content {
    padding: 20px;
    color: white;

  }
  
  h1, h2, h3 {
    font-weight: 600;
    padding-bottom: 0.3em;
    color: #fff;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the list items */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    /* background: #222; */
    justify-content: center;
    align-items: center;
    margin: 15px;
    min-width: 45%; /* Adjust the minimum width for responsiveness */
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(152, 154, 155, 0.75);
    text-align: center;
    font-size: 24px;
    padding: 15px;
    font-weight: 600;
    color: #fff;
  }
  
  li a {
    text-decoration: none;
    color: #06b8ee;
  }
  
  li:hover {
    box-shadow: 0 0 10px 0 rgba(6, 133, 236, 0.75);
  }
  
  a {
    text-decoration: none;
    color: #436fe6;
  }
  
  .center-text {
    text-align: center;
    margin-top: 45px;
    color: #fff;
  }
  
  .container__content__heading,
  .container__content__para,
  .container__content__h2 {
    text-align: center;
    font-size: 45px;
    color: #ffffff;
  }
  
  img {
    max-width: 100%; /* Make images responsive within their containers */
    max-height: 40vh;
    object-fit: contain;
    padding: 5px;
    margin: 5px;
  }
  
  @media (min-width: 768px) {
    img {
      max-width: 400px; /* Adjust the max-width for larger screens */
    }
  }
  